<style>
    @font-face {
        font-family: OpenSans;
        src: url(./fonts/openSans.ttf);
    }

    html,
    body,
    body * {
        margin: 0;
        padding: 0;
        font-family: "OpenSans", Arial, Helvetica, sans-serif
    }

    #banner-widget {
        width: 1108px;
        margin: auto;
    }

    .banner-box {
        width: 1108px;
        max-width: 1108px;
        z-index: 999;
        margin: auto;
    }

    .banner-box__header {
        background-color: #E9383A;
        overflow: auto;
        text-align: center;
        padding: 5px;
        font-size: 17px;
        font-weight: bold;
        color: #FFF;
    }

    .banner-box__header-content {
        overflow: auto;
        width: 58%;
        margin: auto;
    }

    .logo {
        margin-left: 10px;
    }

    .banner-close-ico {
        display: inline-block;
        width: 15px;
        font-weight: bold;
        position: absolute;
        right: 10px;
        cursor: pointer;
    }

    .banner-box__content {
        overflow: auto;
        background-color: #E8EBEC;
        padding-bottom: 10px;
    }

    .banner-box__item {
        float: left;
        width: 160px;
    }

    .banner-box__item-heading {
        height: 98px;
        overflow: hidden;
        text-align: right;
        margin: auto;
        background-color: #FFF;
        margin-right: 30px;
    }

    .banner-box__item-content {
        height: 67px;
        overflow: hidden;
        text-align: center;
        margin: auto;
        background-color: #F3F5F5;
        margin-right: 30px;
        font-size: 15px;
        padding: 10px 0;
    }

    .banner-box__item-content a {
        text-decoration: underline;
        color: #FF5A00;
    }

    .banner-box__contacts {
        text-align: center;
    }

    .orders {
        background-color: #FFF;
        font-size: 15px;
        font-weight: bold;
        color: #606f77;
        padding: 3px 8px;
        margin-top: 25px;
    }

    .orders span {
        display: inline-block;
        width: 20px;
        border-radius: 23px;
        background-color: #FF5A00;
        text-align: center;
        color: #FFF;
        font-weight: bold;
    }

    .phone {
        margin-top: 15px;
    }

    .phone,
    .mail a {
        font-size: 21px;
        color: #FF5A00;
    }

    .mail {
        margin-top: 10px;
    }

    .text-left {
        float: left;
    }

    .right {
        float: right;
    }

    .clearfix::after {
        display: block;
        content: "";
        clear: both;
    }
</style>

<div id="banner-box" class="banner-box">
    <div class="banner-box__header">
        <div class="banner-box__header-content">
            <span class="banner-close-ico">x</span>
            <div class="text-left">Витрина оборудования и материалов для сварки от</div>
            <div class="text-left">
                <img src="./images/logo.png" alt="" class="logo">
            </div>
        </div>
    </div>
    <div class="banner-box__content">
        <div id="products"></div>
        <div class="banner-box__contacts text-left">
            <div class="banner-box__contacts-content">
                <div class="banner-box__contacts-heading">
                    <div class="orders">
                        <span>!</span> Заявки и заказы:
                    </div>
                    <p class="phone">+7 (495) 663 72 84</p>
                </div>
                <div class="mail">
                    <a href="mailto:sales@tiberis.ru">sales@tiberis.ru</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-handlebars-template" id="product-item-template">
    <div class="banner-box__item">
        <div class="banner-box__item-heading">
            <a href="#">
                <img src="{{imageUrl}}" alt="{{title}}">
            </a>
        </div>
        <div class="banner-box__item-content">
            <a href="#">{{title}}</a>
        </div>
    </div>
</script>

<script type="text/javascript" charset="UTF-8">

    var bannerWidget = (function () {
        // XMLHttpRequest объект для работы с AJAX 
        var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;

       // Конструктор виджета
        function Widget () {
            this.apiUrl = 'http://api.banner/GetData.php';    
            this.init(); 
        }

        window.onload = function () {
            setTimeout(function () {
                console.log(document.getElementById('banner-widget'));
            }, 5000);
            
        }

        // Инициализация виджета
        Widget.prototype.init = function () {
            this._initUI();
            this._bannerClouse();
            //console.log(document.getElementById('banner-widget'));
        }

        // Привязка и обработка события клика для скрытия виджета
        Widget.prototype._bannerClouse = function () {
            var btnClose = document.getElementsByClassName('banner-close-ico')[0];
            btnClose.addEventListener('click', function (e) {
                document.getElementById('banner-box').style.display="none";
            });
        };

        // Инициализация UI
        Widget.prototype._initUI = function () {
            var xhr = new XHR();

            xhr.open('GET', this.apiUrl, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send();

            xhr.onload = function() {
                if (this.status != 200) {
                    return false;
                }
                
                response = JSON.parse(this.responseText);

                if (typeof response.data === "undefined")
                    return false;

                var htmlTemplate = document.getElementById('product-item-template').innerHTML,
                    productsHtml = '';

                productsHtml = _render(htmlTemplate, response.data);
                document.getElementById('products').innerHTML = productsHtml;
            }
        }
        
        // Рендеринг данных товаров
        var _render = function (html, data) {  
            var productsHtml = '';
            data.forEach(function(item) {
                if (typeof item.imageUrl !== "undefined" && typeof item.title !== "undefined") {
                    productsHtml += html.replace(/\{\{\s?(\w+)\s?\}\}/g, (match, variable) => {
                        return item[variable] || ''
                    });
                }
            });
            return productsHtml;
        }

        return Widget;
    })();

    new bannerWidget ();

</script>